* {
    box-sizing: border-box;
}

body {
    margin-top: 1em;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

body {
    padding: 2em 2em 2em 17em;
    font-size: 1em;
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 0 4% 1em 4%;
    max-width: 800px;
    margin-bottom: 3px;
    border-bottom: 1px solid black;
}

article {
    margin-left: 20px;
}

footer {
    padding: 1em;
    max-width: 800px;
    margin-top: 3px;
    border-top: 1px solid black;
    size: 0.5em;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}

bold {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

table tr th {
    font-weight: bold;
}

table tr th, table tr td {
    padding: 0.4em 0.6em;
    border: 1px solid black;
    text-align: center;
}

.home {
    position: fixed;
    left: 4em;
    top: 3em;
    width: 7em;
    height: 6em;
    border-radius: 1.5em;
    background-image: url("../favicon.png");
    background-size: 7em;
}

.toc {
    position: fixed;
    height: 75%;
    overflow-y: scroll;
    left: 3em;
    top: 11em;
    padding: 1em;
    width: 14em;
    line-height: 2;
}

.console {
    background: black;
    color: white;
    font: 'courier new'
}

.toc ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.toc ul ul {
    padding-left: 2em;
}

.toc li a {
    display: inline-block;
    color: #aaa;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.toc li.visible>a {
    color: #111;
    -webkit-transform: translate(5px);
    transform: translate(5px);
}

.toc-marker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.toc-marker path {
    transition: all 0.3s ease;
}

.contents {
    padding: 1em;
    max-width: 1200px;
    font-size: 1.2em;
    font-family: 'Frank Ruhl Libre', sans-serif;
}

.contents img {
    max-width: 80%;
    display: block;
    margin: 20px auto;
}

.contents figure img {
    margin: 0 auto;
}

.scode {
    white-space: pre;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
    font-style: italic;
    background-color: #f9f9e5;
    padding: 5px;
    border-radius: 5px;
}

.contents .code-block {
    white-space: pre;
    overflow: auto;
    max-width: 100%;
}

.contents .code-block code {
    display: block;
    background-color: #f9f9f9;
    padding: 10px;
}

.contents .code-inline {
    background-color: #f9f9f9;
    padding: 4px;
}

.contents h2,
.contents h3 {
    padding-top: 1em;
}

@media screen and (max-width: 1200px) {
    body {
        font-size: 14px;
    }
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;

    border-left: 15px solid #818181;
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;

    border-right: 15px solid #818181;
}

#close-arrow {
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 15px;
    margin-left: 50px;
}

#container .arrow-right {
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 15px;
}

.center {
    display: block;
    text-align: center;
    margin: 0 auto 0 auto;
}

.code {
    margin: 3% 3% 3% 3%;
    padding: 3% 3% 3% 3%;
    border: 1px dashed gray;
    border-radius: 3%;
    white-space: nowrap;
    overflow-x: scroll;
}
.code p {
    margin: 0;
}

blockquote, figcaption {
    color: #004;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;

}

blockquote {
    padding-bottom: 5px;
}

.apart {
    font-size: 0.9em;
    font-style: italic;
    padding-left: 10%;
    padding-right: 5%;
}

.expression {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
}

.tips {
    margin: 0.5em 3em 1em 3em;
    padding: 0 1em;
    border: 1px solid cyan;
    border-radius: 1em;
    background-color: lightcyan;
    font-size: 0.8em;
    font-style: italic;
}

.card {
    margin: 2em 1em 1.5em 1em;
    padding: 0 0.5em;
    border: 1.5px solid greenyellow;
    border-radius: 1em;
    background-color: lightyellow;
    font-size: 0.8em;
}

.card-scenario-title {
    text-decoration: underline;
}

@media (max-width: 800px) {
    body {
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
        padding: 0.2em;
    }

    #toc {
        display: none;
    }

    .home {
        position:inherit;
        float: left;
        margin-left: 2%;
        display: inline;
        padding-left: 7em;
    }

    .code {
        border: 0;
        margin: 0;
        padding: 0;
    }
}

.toggle {
    cursor: pointer;
}

.display-none {
    display: none;
}

.animation {
    border: 1px dashed black;
    border-radius: 5%;
    margin: 30px;
    padding: 20px
}

.panel {
    position: relative;
    width: 800px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}